@{
    ViewData["Title"] = "Confirmação apagar contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato ?</h3>
</div>
<div class="text-center">
    <a class="btn btn-primary" role="button">Confimar Exclusão</a>
    <a class="btn btn-danger" role="button">Cancelar Exclusão</a>
</div>